In [111]:
library("tidyverse")

In [112]:
##instantiate all the variables 

##create a data frame with the closing prices
df <- read_csv("13.5.csv")

sigma <- 0.2 #the variance parameter

r <- 0.01

t <- 252 #there are 252 trading days in a year

K <- 52 #strike price

print(sigma)
print(r)
print(t)

── Column specification ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  i = col_double(),
  Zi = col_double(),
  Si = col_double()
)

[1] 0.2
[1] 0.01
[1] 252

In [113]:
mu <- (0.01 - (sigma^2)/2 ) #drift parameter 

print(mu)

[1] -0.01

In [114]:
df <- df %>% mutate(i = as.integer(i),
                   Si_1 = lag(Si))



df %>% glimpse()

Rows: 7
Columns: 4
$ i    <int> 0, 1, 2, 3, 4, 5, 6
$ Zi   <dbl> NA, -0.25, 0.30, 1.50, -1.20, -1.65, 1.50
$ Si   <dbl> 50, NA, NA, NA, NA, NA, NA
$ Si_1 <dbl> NA, 50, NA, NA, NA, NA, NA

In [50]:
#write a function that transforms the Zi normal to the price generated number
normal_standard <- function(Zi, mu, sigma, t){
    
    #multiply Zi by the variance and devide by sqrt of 252 trading days
    xi <- Zi*(sigma/sqrt(t))
    
    #then add mu divided by the variance
    
    xi <- xi + (mu/252)
    
}

#test the function

xi <- normal_standard(-0.25,mu,sigma, t)

print(xi)

[1] -0.003189386

In [117]:
#map the function over the data frame 

df<- df%>% mutate(Xi = normal_standard(Zi, mu, sigma, t))

df %>% head(7)

  i Zi    Si Si_1 Xi
1 0    NA 50 NA             NA
2 1 -0.25 NA 50   -0.003189386
3 2  0.30 NA NA    0.003739962
4 3  1.50 NA NA    0.018858541
5 4 -1.20 NA NA   -0.015158261
6 5 -1.65 NA NA   -0.020827729
7 6  1.50 NA NA    0.018858541

In [119]:
  #calculate the next price
    i = 1
    lead = i+1
    print(i)
    print(lead)
    print(df$Si[[i]])
    print(df$Xi[[lead]])
    df$Si[[lead]] <- df$Si[[i]]*exp(1)^df$Xi[[lead]]
    print(df$Si[[lead]])

[1] 1
[1] 2
[1] 50
[1] -0.003189386
[1] 49.84078

In [139]:
#create output vector of equal lenght that pricing 




for (i in 1:nrow(df)){
    
    lead = i +1
    print(i)
    print(lead)
    print(df$Si[[i]])
    print(df$Xi[[lead]])
    df$Si[[lead]] <- df$Si[[i]]*exp(1)^df$Xi[[lead]]
    print(df$Si[[lead]])
    

}

[1] 1
[1] 2
[1] 50
[1] -0.003189386
[1] 49.84078
[1] 2
[1] 3
[1] 49.84078
[1] 0.003739962
[1] 50.02754
[1] 3
[1] 4
[1] 50.02754
[1] 0.01885854
[1] 50.97993
[1] 4
[1] 5
[1] 50.97993
[1] -0.01515826
[1] 50.213
[1] 5
[1] 6
[1] 50.213
[1] -0.02082773
[1] 49.17799
[1] 6
[1] 7
[1] 49.17799
[1] 0.01885854
[1] 50.11421
[1] 7
[1] 8
[1] 50.11421

ERROR: Error in df$Xi[[lead]]: subscript out of bounds

In [140]:
df %>% head(7)

  i Zi    Si       Si_1 Xi
1 0    NA 50.00000 NA             NA
2 1 -0.25 49.84078 50   -0.003189386
3 2  0.30 50.02754 NA    0.003739962
4 3  1.50 50.97993 NA    0.018858541
5 4 -1.20 50.21300 NA   -0.015158261
6 5 -1.65 49.17799 NA   -0.020827729
7 6  1.50 50.11421 NA    0.018858541

In [45]:
#create a function that takes the 

convert_to_price <- function(Si_1, Xi) {
    
    
    price = Si_1*exp(1)^Xi 
    
}

#test the function

print(convert_to_price(50, -0.0031))

[1] 49.84524

In [46]:
#map the function over the dataframe

df <- df %>% mutate(Si_1 = lag(Si),
                    Si = convert_to_price(Si_1, Xi))

df %>% head()

  i Zi    Si       Si_1 Xi
1 0    NA       NA NA             NA
2 1 -0.25 49.84078 50   -0.003189386
3 2  0.30       NA NA    0.003739962
4 3  1.50       NA NA    0.018858541
5 4 -1.20       NA NA   -0.015158261
6 5 -1.65       NA NA   -0.020827729

In [46]:
#write a function that tranforms a closing price to standard normal
z_standard <- function(closing_price, mu, sigma, t){
    
    #subtract mu divided by t from the price

    x <- closing_price - (mu/t)
    
    
    #then divide by (sigma divided by sqrt(t))
    x <- x / (sigma / sqrt(t))
    
}


zo <- z_standard(50, mu, sigma, t)

print(zo)

[1] 3968.63

In [48]:
#generate six more closing prices from the random normal distribution 

x <- rnorm(n = 6, mean = (mu/t), sd = (sigma/sqrt(t)))
           
print(x)

[1]  0.003041615 -0.014494588  0.002149898 -0.007315728  0.003840657
[6]  0.005011593